<div class="row">
  <div class="span12">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%=image_tag("blue.jpg", alt: "Blue Slider Image")%>
      </div>
      <div class="item">
        <%=image_tag("green.jpg", alt: "Green Slider Image")%>
      </div>
      <div class="item">
        <%=image_tag("grey.jpg", alt: "Grey Slider Image")%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>

<!-- 3 x below Carousel points -->

<div class="row">

  <div class="span4">
    <h1 class="gen_header">Broaden Your Reach</h1>
    <p>Take your event global with online video - reach attendees anywhere in the world and extend interaction with attendees from days to months.</p>
  </div>
    
  <div class="span4">
    <h1 class="gen_header">New Value, New Revenue</h1>
    <p>Create new channels of revenue by selling online event tickets to attendees or working with a co-branding sponsor.</p>
  </div>

  <div class="span4">
    <h1 class="gen_header">Better Decisions With Data</h1>
    <p>Gather critical data on what topics your attendees are most interested in, where in the world they are, what devices they use and more.</p>
  </div>

</div>

<!-- Why Virtuvent -->
<hr>

<div class="row">
  
  <div class="span12">
    <h1 class="large_H_center">Why Virtuvent?</h1>

  </div>

</div>

<div class="row">
  <div class="span6 product1">
    <%=image_tag("product1.jpg", alt: "product image")%>
</div>

  <div class="span6 product1">

    <h3>Added value for people attending your event</h3>
    <p>Give your attendees access to a range of event video content for months afterwards, including event sessions they may not have been able to attend</p>

    <h3>Increase your attendance, generate leads</h3>
    <p>Attract global attendees that cannot attend your event in person, but can attend online.</p> 

    <h3>Proven ROI</h3>
    <p>Sell tickets to your online event using either Virtuvent’s secure, feature-rich registration system or your own - or co-brand your interface and content with a sponsor.</p> 

    <h3>Your Event, Your Brand</h3>
    <p>Extend your event brand, get in front of more people and become the authority in your space by reaching people both offline and online</p>

    <h3>Your Event, Your Brand</h3>
    <p>Extend your event brand, get in front of more people</p>

  </div>

</div>
  

