$navbarBackground: white;
$navbarBackgroundHighlight: white;
$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);
$btnPrimaryBackground: red;

@import 'bootstrap';



body {
	
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {

	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

.gen_header {

	font-size: 22px;
}

.large_H_center {

	text-align: center;
	font-size: 50px;
}

.product1 {

	margin-top: 45px;
}

